.hidden {
  display: none;
}

::selection {
  background: hsl(45, 100%, 72%);
  color: hsl(0, 0%, 7%);
}

:focus {
  outline-color: hsl(45, 100%, 72%);
}


body {
  background: #1a1a1a;;
  padding-top: 130px;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

/* NAVBAR */
.navbar-link:hover {
  color: hsla(0, 0%, 84%, 0.7);
}


.navbar-link:hover,
.navbar-link:focus {
  color: hsla(0, 0%, 84%, 0.7);
}

.navbar-link.active {
  color: hsl(45, 100%, 72%);
}



/* MAIN CONTENT */

.cgpa {

  background: hsl(240, 2%, 12%);
  border: 1px solid hsl(0, 0%, 22%);
  padding: 70px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: hsl(0, 0%, 98%);
  max-width: 650px;
  max-height: 650px;
  margin: auto;
}

#result,
#result_2 {
  color: hsl(45, 100%, 72%);
  text-align: center;

}

.heading-1,
.caption {
  font-size: 1.9em;
  font-weight: bold;
  margin-bottom: 40px;
}

th,
td {
  border: 1px solid hsla(0, 0%, 84%, 0.7);
  padding: 8px;
  text-align: center;
  width: 200px;

}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.original,
.obtain,
.weight,
.grade,
.credit {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: hsla(240, 1%, 17%, 0.75);
  border: none;
  color: hsl(0, 0%, 84%);
}

#more {
  margin-top: 10px;
  padding: 10px;
  background-color: #008CBA;
  color: white;
  border: 1px solid #008CBA;
  cursor: pointer;
}

#cal {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  cursor: pointer;
}

#cal_2 {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50 ;
  cursor: pointer;
}

#set {
  margin-top: 10px;
  padding: 10px;
  background-color: red;
  color: white;
  border: 1px solid red;
  cursor: pointer;
}

/* Add margin between buttons */
#more,
#set,
#cal,
#cal_2 {
  margin-top: 50px;
  margin-right: 30px;
}

#more:hover,
#set:hover,
#cal:hover {
    border-color: hsl(45, 100%, 72%); /* Change border color on hover for enabled state */
  }




.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: hsl(0, 0%, 100%);
  background-color: hsla(240, 1%, 17%, 0.75);
  font-size: 14px;
  font-weight: 400;
  padding: 13px 20px;
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 14px;
  outline: none;
  width: 550px;
}

.form-input::placeholder {
  font-weight: 500;
}

.form-input:focus {
  border-color: hsl(45, 100%, 72%);
}

textarea.form-input {
  min-height: 100px;
  height: 130px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;

}

textarea.form-input::-webkit-resizer {
  display: none;
}

.form-input:focus:invalid {
  border-color: hsl(0, 100%, 50%);
}

.form-btn {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom right,
      hsl(240, 1%, 25%) 3%,
      hsla(0, 100%, 50%, 0) 97%);
  color: hsl(45, 100%, 72%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 14px;
  box-shadow: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
  transition: 0.25s ease;
}


.form-btn:hover {
  background: linear-gradient(to bottom right,
      hsla(45, 87%, 58%, 0.345) 0%,
      hsla(0, 0%, 0%, 0) 50%);
}

.form-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.navbar {
  position: fixed;
  width: 98.8%;
  top: 0;
  height: 60px;
  padding-top: 10px;
  background-color: hsl(240, 1%, 17%);
  margin-bottom: 20px;
  border-radius: 20px;
  transition: 2.3s ease-in-out;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;

}

.navbar-link {
  color: hsl(0, 0%, 98%);
  font-size: 17px;
  padding: 20px;
  transition: 0.25s ease;
}

@media (max-width: 1024px) {

  .navbar {
    width: 98.5%;

  }
}

@media (max-width: 768px) {

  .navbar {
    width: 98%;
  }
  .form-input {
    width: 480px;
}
}

@media (max-width: 600px) {

  .navbar {
    width: 97.5%;
  }
  .form-input {
    width: 440px;
}
}

@media (max-width: 516px) {

  .navbar {
    width: 97%;

  }

  .navbar-list {
    padding: 0 0;

  }

  .navbar-link {
    padding: 15px;
  }

  .cgpa {
    padding: 40px;

  }
  .form-input {
    width: 420px;
}
}

@media (max-width: 468px) {

  .navbar {
    width: 96.5%;
  }

  .navbar-link {
    padding: 15px;
    font-size: 14px;
  }

  #more,
  #set,
  #cal {
    margin-top: 50px;
    margin-left: 6px;
  }

  .cgpa {
    padding: 10px;

  }
  .form-input {
    width: 340px;
}

}

@media (max-width: 418px) {

  #more,
  #set,
  #cal,
  #cal_2 {
    margin-top: 50px;
    margin-left: 1px;
  }

  .navbar-link {
    padding: 15px;
    font-size: 12px;
  }
  .form-input {
    width: 290px;
}

}

@media (max-width: 360px) {

 

  .navbar-link {
    padding: 10px;
    font-size: 11px;
  }

  #more {
    margin-top: 10px;
    padding: 5px;

  }

  #set {
    margin-top: 10px;
    padding: 5px;
    margin-left: -25px;

  }

  #cal {
    margin-top: 10px;
    padding: 5px;
    margin-left: -25px;
  }

  #cal_2 {
    margin-top: 10px;
    padding: 5px;
    margin-left: -25px;

  }
  .form-input {
    width: 210px;
}
}

/* 
@media (max-width: 306px) {


  .navbar-link {
    padding: 0px;
    font-size: 16px;
  }


  .navbar {
    position: absolute;
    height: 520px;
    top: 10%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(240, 1%, 17%);
    border-radius: 20px;
  }

  .navbar-item {
    padding-right: 35px;
    padding-bottom: 50px;
  }


  #more {
  margin-top: 10px;
  padding: 5px;

  }

  #set {
  margin-top: 10px;
  padding: 5px;
  margin-left: -25px;

  }

  #cal {
  margin-top: 10px;
  padding: 5px;
  margin-left: -25px;
  }

  #cal_2 {
  margin-top: 10px;
  padding: 5px;
  margin-left: -25px;
  }
} */